:root {
  --color-primary-600: #748ddc;
  --color-primary-700: #5f74bf;
  --color-primary-800: #4d5f9f;
  --color-primary-900: #424f84;
  --color-accent-100: #edf1ff;
  --color-accent-50: #f6f8ff;
  --color-bg: #ffffff;
  --color-text-primary: #39455a;
  --color-text-secondary: #5b6b82;
  --color-border: #e9edf2;
  --color-success: #73c293;
  --color-warning: #cfa462;
  --color-error: #d9857d;
}